/* AddEditProduct.css */

.add-edit-product {
  max-width: 600px;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.add-edit-product h2 {
  font-size: 20px;
  margin-bottom: 15px;
}

.add-edit-product label {
  display: block;
  margin-bottom: 5px;
  text-align: left;
  font-size: 16px;
  font-weight: 600;
}

.add-edit-product,
.add-edit-product textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.add-edit-product button {
  padding: 8px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-edit-product button:last-child {
  background-color: #dc3545;
  margin-left: 10px;
}

.form-check-input
{
  border: solid 1px #795548 !important;
}
