/* ProductCard.css */

.product-card {
  position: relative;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.product-card img {
  width: 50%;
}
.product-details {
  flex: 1;
}

.product-details h3 {
  margin: 0;
  font-size: 18px;
}

.product-details p {
  margin: 5px 0;
}

.product-actions {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.product-actions button {
  padding: 5px 10px;
  border: none;
  color: white;
  cursor: pointer;
}

.product-actions button a {
  color: #fff;
  text-decoration: none;
}

.product-actions button:last-child {
  background-color: #0dcaf0;
}

h3 {
  font-size: 16px;
  font-weight: 500;
  color: #212121;
  text-align: left;
}

.online-price {
  text-decoration: line-through;
  font-size: 14px;
  color: #878787;
}
span {
  font-size: 16px !important;
}

.dealer-price {
  font-size: 14px;
  color: #878787;
}

.available-wrapper {

  position: absolute;
  color: #fff;
  padding: -1px 30px;
  right: -5px;
  left: 0px;
  top: 0px;
  width: 37%;
  line-height: 29px;
  border-right: 23px;
  border-radius: 0px 0px 8px 0px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional shadow */

}

.available {
  background-color: #f5a623; 
}

.not-available {
   background-color: #ea4c89
}



